:root {
  --main-blue: #0050B0;
  --light-blue: #00A0E0;
  --lighter-blue: #00C0E0;
  --lightest-blue: #50D0FF;
  --dark-blue: #002080;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', sans-serif;
}
body {
  min-height: 100vh;
  position: relative;
}
nav {
  width: 100%;
  height: 64px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 500;
}
.navbtn {
  height: auto;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 28px;
  background-color: var(--light-blue);
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
}
.navbtn div {
  display: flex;
}
.navbtn:hover {
  background-color: var(--lighter-blue);
  cursor: pointer;
  transition: 400ms ease;
}
.navbtn p {
  margin-left: 10px;
}
.connecte {
  font-size: 28px;
  color: white;
  display: flex;
  align-items: center;
}
.accbtn {
  margin-left: 12px;
}
.conbtn {
  display: none;
}
input[type=checkbox] {
  display: none;
}
.hbmenu {
  background-color: var(--light-blue);
  height: 96px;
  width: 96px;
  cursor: pointer;
  z-index: 501;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 400ms ease;
}
.hbmenu .hbsect {
  background-color: white;
  width: 80%;
  height: 10%;
  border-radius: 5px;
  transition: all 400ms ease;
}
.menu {
  position: absolute;
  background-color: var(--dark-blue);
  display: none;
  width: 400px;
  left: -400px;
  height: 100vh;
  z-index: 500;
  transition: all 400ms ease;
}
.menu ul {
  list-style: none;
  padding-top: 96px;
  font-size: 40px;
  width: 100%;
}
.menu ul a {
  text-decoration: none;
}
.menu ul a:nth-of-type(1) li,
.menu ul a:nth-of-type(3) li {
  background-color: var(--main-blue);
}
.menu ul a:nth-of-type(2) li,
.menu ul a:nth-of-type(4) li {
  background-color: var(--light-blue);
}
.menu ul a li {
  padding: 24px 16px;
  color: white;
  display: flex;
}
.menu ul a li svg {
  margin-right: 16px;
  height: 48px;
}
.overlaymenu {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 0%;
  z-index: 499;
  transition: all 400ms ease;
}
input[type=checkbox]:checked ~ .hbmenu {
  transform: translateX(400px);
  border-radius: 0 24px 24px 0;
}
input[type=checkbox]:checked ~ .hbmenu .hbtop {
  transform: translate(-2px, 26.5px) rotate(-135deg) scale(1.1, 1);
}
input[type=checkbox]:checked ~ .hbmenu .hbmid {
  opacity: 0;
}
input[type=checkbox]:checked ~ .hbmenu .hbbot {
  transform: translate(-2px, -26.5px) rotate(135deg) scale(1.1, 1);
}
input[type=checkbox]:checked ~ .menu {
  transform: translateX(400px);
}
input[type=checkbox]:checked ~ .overlaymenu {
  opacity: 50%;
}
.sect1 {
  height: 500px;
  width: 100%;
  background: var(--main-blue);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.sect1 div {
  width: 50vw;
}
.sect1 div.sect1image {
  position: absolute;
  background: linear-gradient(to left, #FFFFFF00, var(--main-blue));
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: white;
  padding-right: 50px;
}
.sect1 div.sect1image h1 {
  font-size: 160px;
}
.sect1 div.sect1image h2 {
  font-size: 28px;
  font-weight: 400;
  white-space: nowrap;
  text-align: end;
}
.sect1 div.sect1search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sect1 div.sect1search .search {
  display: flex;
  align-items: center;
  width: auto;
}
.sect1 div.sect1search .searchgeneral {
  height: 200px;
  width: 80%;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.sect1 div.sect1search .searchgeneral label {
  font-size: 36px;
  margin-bottom: 20px;
}
.sect1 div.sect1search .searchgeneral .searchbar {
  width: 100%;
  border: none;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
.sect1 div.sect1search .searchgeneral .submitsearch {
  font-size: 24px;
  background-color: var(--light-blue);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}
.sect1 div.sect1search .searchgeneral .submitsearch:hover {
  background-color: var(--lighter-blue);
  cursor: pointer;
  transition: 400ms ease;
}
.sect1 div.sect1search .searchregion {
  height: 108px;
  border-radius: 54px;
  background-color: var(--light-blue);
  color: white;
  font-size: 2em;
  border: none;
  padding: 0 20px;
  text-decoration: none;
}
.sect1 div.sect1search .searchregion:hover {
  background-color: var(--lighter-blue);
  cursor: pointer;
  transition: 400ms ease;
}
.sect1 div.sect1search .searchregion img {
  height: 60px;
  width: 60px;
  margin: 0 20px 0 0;
}
.sect1 img {
  width: 50vw;
  object-fit: cover;
}
.sectmobile1 {
  display: none;
  flex-direction: column;
}
.sectmobile1 .mobilesearchregion {
  display: flex;
  align-items: center;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 40px;
  text-decoration: none;
}
.sectmobile1 .mobilesearchregion img {
  height: 100px;
  width: 100px;
  margin: 0 20px 0 0;
}
.sect2 {
  position: relative;
  width: 100%;
}
.sect2 h2 {
  margin-top: 48px;
  color: var(--dark-blue);
  font-size: 80px;
  text-align: center;
}
.sect2 .s2container {
  margin: 36px auto;
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.sect2 .s2container div {
  background-color: var(--lightest-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
  padding: 32px;
}
.sect2 .s2container div div {
  background-color: white;
  width: 108px;
  height: 108px;
  padding: 24px;
  border-radius: 24px;
}
.sect2 .s2container div h3 {
  font-size: 40px;
  margin: 16px 0;
  text-decoration: underline;
}
.sect2 .s2container div p {
  font-size: 24px;
}
footer {
  position: relative;
  bottom: 0;
  display: flex;
  padding: 20px;
  background-color: var(--dark-blue);
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
footer .footerelem {
  color: white;
  font-size: 24px;
  margin-bottom: 100px;
}
footer .footerelem:nth-of-type(1) {
  font-size: 32px;
  font-weight: bold;
}
@media screen and (max-width: 1100px) {
  nav {
    height: 96px;
  }
  .navbtn {
    display: none;
  }
  .connecte {
    display: none;
  }
  .hbmenu,
  .menu,
  .overlaymenu {
    display: flex;
  }
  .sect1 {
    margin-top: 96px;
  }
  .sect1 div {
    width: 100%;
  }
  .sect1 div.sect1search {
    display: none;
  }
  .sect1 div.sect1image {
    background: #0050B0C0;
    align-items: center;
    padding-right: 0;
  }
  .sect1 img {
    width: 100%;
  }
  .sectmobile1 {
    display: flex;
  }
  .sect2 h2 {
    font-size: 64px;
  }
  .sect2 .s2container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .sect2 .s2container > div {
    width: 80%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 520px) {
  nav {
    height: 64px;
  }
  .hbmenu {
    height: 64px;
    width: 64px;
  }
  .menu {
    width: 280px;
    left: -280px;
  }
  .menu ul {
    padding-top: 64px;
    font-size: 28px;
  }
  .menu ul a li {
    padding: 24px 16px;
    color: white;
    display: flex;
  }
  .menu ul a li svg {
    margin-right: 16px;
    height: 33px;
  }
  input[type=checkbox]:checked ~ .hbmenu {
    transform: translateX(280px);
    border-radius: 0 16px 16px 0;
  }
  input[type=checkbox]:checked ~ .hbmenu .hbtop {
    transform: translate(0, 17.5px) rotate(-135deg) scale(1.1, 1);
  }
  input[type=checkbox]:checked ~ .hbmenu .hbbot {
    transform: translate(0, -17.5px) rotate(135deg) scale(1.1, 1);
  }
  input[type=checkbox]:checked ~ .menu {
    transform: translateX(280px);
  }
  .sect1 {
    height: 400px;
    margin-top: 64px;
  }
  .sect1 div.sect1image h1 {
    font-size: 108px;
  }
  .sect1 div.sect1image h2 {
    font-size: 24px;
  }
  .sectmobile1 .mobilesearchregion {
    font-size: 30px;
  }
  .sect2 h2 {
    font-size: 48px;
  }
  .sect2 .s2container {
    width: 100%;
  }
  .sect2 .s2container > div {
    width: 100%;
  }
  footer .footerelem {
    font-size: 20px;
  }
  footer .footerelem:nth-of-type(1) {
    font-size: 28px;
  }
}
@media screen and (max-width: 400px) {
  .sect1 {
    height: 300px;
  }
  .sect1 div.sect1image h1 {
    font-size: 80px;
  }
  .sect1 div.sect1image h2 {
    font-size: 18px;
  }
  .sectmobile1 .mobilesearchregion {
    font-size: 24px;
  }
  .sectmobile1 .mobilesearchregion img {
    height: 80px;
    width: 80px;
  }
  footer .footerelem {
    font-size: 18px;
  }
  footer .footerelem:nth-of-type(1) {
    font-size: 24px;
  }
}
