.sect1 {
  height: 500px;
  width: 100%;
  background: var(--main-blue);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.sect1 div {
  width: 50vw;
}
.sect1 div.sect1image {
  position: absolute;
  background: linear-gradient(to left, #FFFFFF00, var(--main-blue));
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: white;
  padding-right: 50px;
}
.sect1 div.sect1image h1 {
  font-size: 160px;
}
.sect1 div.sect1image h2 {
  font-size: 28px;
  font-weight: 400;
  white-space: nowrap;
  text-align: end;
}
.sect1 div.sect1search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sect1 div.sect1search .searchgeneral {
  height: fit-content;
  width: 80%;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
}
.sect1 div.sect1search .searchgeneral h3 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: normal;
}
.sect1 div.sect1search .searchgeneral select {
  font-size: 20px;
}
.sect1 div.sect1search .searchgeneral span {
  margin: 0 5px;
}
.sect1 div.sect1search .searchregion {
  display: flex;
  align-items: center;
  height: 108px;
  border-radius: 54px;
  background-color: var(--light-blue);
  color: white;
  font-size: 32px;
  border: none;
  padding: 0 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 400ms ease;
}
.sect1 div.sect1search .searchregion:hover {
  background-color: var(--lighter-blue);
}
.sect1 div.sect1search .searchregion img {
  height: 60px;
  width: 60px;
  margin: 0 20px 0 0;
}
.sect1 img {
  width: 50vw;
  object-fit: cover;
}
.submitsearch {
  font-size: 24px;
  background-color: var(--light-blue);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: 400ms ease;
  text-decoration: none;
}
.submitsearch:hover {
  background-color: var(--lighter-blue);
}
.searchbar {
  border: none;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
.sectmobile1 {
  display: none;
  flex-direction: column;
}
.sectmobile1 .mobilesearchregion {
  display: flex;
  align-items: center;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 40px;
  text-decoration: none;
}
.sectmobile1 .mobilesearchregion img {
  height: 100px;
  width: 100px;
  margin: 0 20px 0 0;
}
.sect2 {
  position: relative;
  width: 100%;
}
.sect2 h2 {
  margin-top: 48px;
  color: var(--dark-blue);
  font-size: 64px;
  text-align: center;
}
.sect2 .s2container {
  margin: 36px auto;
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.sect2 .s2container div {
  background-color: var(--lightest-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
  padding: 32px;
  border-radius: 5px;
}
.sect2 .s2container div div {
  background-color: white;
  width: 108px;
  height: 108px;
  padding: 24px;
  border-radius: 24px;
}
.sect2 .s2container div h3 {
  font-size: 32px;
  margin: 16px 0;
  text-decoration: underline;
}
.sect2 .s2container div p {
  font-size: 24px;
}
.sect3 {
  background-color: var(--darker-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sect3 h2 {
  color: white;
  margin: 20px 0;
  font-size: 48px;
}
.sect3 .caroussel {
  height: fit-content;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-bottom: 20px;
  border: 3px solid white;
  border-radius: 5px;
  height: 400px;
  width: 600px;
}
.sect3 .caroussel #carousselaleft,
.sect3 .caroussel #carousselaright {
  height: 100%;
  width: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  z-index: 5;
  user-select: none;
  font-size: 20px;
}
.sect3 .caroussel #carousselaleft {
  left: 0;
}
.sect3 .caroussel #carousselaright {
  right: 0;
}
.sect3 .caroussel a {
  position: relative;
  min-width: 100%;
  transition: all 0.5s ease;
}
.sect3 .caroussel a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.sect3 .caroussel a p {
  background-color: #000000C0;
  bottom: 0;
  width: calc(100%);
  font-size: 28px;
  padding: 5px 25px;
  color: white;
  position: absolute;
}
@media screen and (max-width: 1180px) {
  .sect1 {
    margin-top: 96px;
  }
  .sect1 div {
    width: 100%;
  }
  .sect1 div.sect1search {
    display: none;
  }
  .sect1 div.sect1image {
    background: #0050B0C0;
    align-items: center;
    padding-right: 0;
  }
  .sect1 img {
    width: 100%;
  }
  .sectmobile1 {
    display: flex;
  }
  .sect2 h2 {
    font-size: 56px;
  }
  .sect2 .s2container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .sect2 .s2container > div {
    width: 80%;
    margin-bottom: 40px;
  }
  .sect3 h2 {
    font-size: 48px;
  }
  .sect3 .caroussel {
    height: 300px;
    width: 450px;
  }
  .sect3 .caroussel a p {
    font-size: 20px;
  }
}
@media screen and (max-width: 520px) {
  .sect1 {
    height: 400px;
    margin-top: 64px;
  }
  .sect1 div.sect1image h1 {
    font-size: 108px;
  }
  .sect1 div.sect1image h2 {
    font-size: 24px;
  }
  .sectmobile1 .mobilesearchregion {
    font-size: 30px;
  }
  .sect2 h2 {
    font-size: 48px;
  }
  .sect2 .s2container {
    width: 100%;
  }
  .sect2 .s2container > div {
    width: 100%;
  }
  .sect3 .caroussel {
    height: 240px;
    width: 360px;
  }
}
@media screen and (max-width: 400px) {
  .sect1 {
    height: 300px;
  }
  .sect1 div.sect1image h1 {
    font-size: 80px;
  }
  .sect1 div.sect1image h2 {
    font-size: 18px;
  }
  .sectmobile1 .mobilesearchregion {
    font-size: 24px;
  }
  .sectmobile1 .mobilesearchregion img {
    height: 80px;
    width: 80px;
  }
  .sect3 h2 {
    font-size: 40px;
  }
}
