:root {
    --main-blue: #0050B0;
    --light-blue: #00A0E0;
    --lighter-blue: #00C0E0;
    --lightest-blue: #50D0FF;
    --dark-blue: #002080;
    --darker-blue: #001050;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
}

nav {
    width: 100%;
    height: 64px;
    background-color: var(--dark-blue);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 500;
}

.navleft {
    display: flex;
    align-items: end;
}

.navbtn {
    height: 64px;
    display: flex;
    z-index: 2;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: var(--light-blue);
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    transition: all 400ms ease;

    &:hover {
        background-color: var(--lighter-blue);
        cursor: pointer;
    }

    p {
        margin-left: 10px;
    }

    &.puboffre {
        font-weight: normal;
        background-color: var(--lighter-blue);

        &:hover {
            background-color: var(--light-blue);
            cursor: pointer;
        }
    }
}

.navonglet {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 1;
    padding: 10px;
    height: 100%;
    border-radius: 0 20px 20px 0;
    font-size: 28px;
    color: white;
    background-color: var(--lighter-blue);
    left: -300px;
    transition: all 400ms ease;
    text-decoration: none;

    svg {
        margin-left: 10px;
    }

    &:hover {
        transform: translateX(300px);
    }
}

.connecte {
    position: absolute;
    right: 0;
    font-size: 28px;
    color: white;
    display: flex;
    align-items: center;
}

.conbtn {
    position: absolute;
    right: 0;
}

.accbtn {
    margin-left: 12px;
}

.dcbtn {
    background-color: red;

    &:hover {
        background-color: orangered;
    }
}

input[type=checkbox]#hamburger {
    display: none;
}

#agence {
    display: none;
}

#estAgent[type=checkbox]:checked~#agence {
    display: inline;
}

.hbmenu {
    background-color: var(--light-blue);
    height: 96px;
    width: 96px;
    cursor: pointer;
    z-index: 501;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 400ms ease;

    .hbsect {
        background-color: white;
        width: 80%;
        height: 10%;
        border-radius: 5px;
        transition: all 400ms ease;
    }
}

.menu {
    position: absolute;
    background-color: var(--dark-blue);
    display: none;
    width: 400px;
    left: -400px;
    height: 100vh;
    z-index: 500;
    transition: all 400ms ease;

    ul {
        list-style: none;
        padding-top: 96px;
        font-size: 40px;
        width: 100%;

        a {
            text-decoration: none;

            &:nth-of-type(1),
            &:nth-of-type(3) {
                li {
                    background-color: var(--main-blue);
                }
            }

            &:nth-of-type(2),
            &:nth-of-type(4) {
                li {
                    background-color: var(--light-blue);
                }
            }

            li {
                padding: 24px 16px;
                color: white;
                display: flex;

                svg {
                    margin-right: 16px;
                    height: 48px;
                }
            }
        }
    }
}

.overlaymenu {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    opacity: 0%;
    z-index: 499;
    transition: all 400ms ease;
}

#hamburger[type=checkbox]:checked {
    ~.hbmenu {
        transform: translateX(400px);
        border-radius: 0 24px 24px 0;

        .hbtop {
            transform: translate(-2px, 26.5px) rotate(-135deg) scale(1.1, 1);
        }

        .hbmid {
            opacity: 0;
        }

        .hbbot {
            transform: translate(-2px, -26.5px) rotate(135deg) scale(1.1, 1);
        }
    }

    ~.menu {
        transform: translateX(400px);
    }

    ~.overlaymenu {
        opacity: 50%;
    }
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    padding: 20px;
    background-color: var(--dark-blue);
    height: fit-content;
    width: 100%;

    .footerelem {
        color: white;
        font-size: 16px;
        margin: 10px 30px;

        h4 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        h5 {
            font-size: 24px;
        }

        ul {
            list-style: none;

            li {
                margin: 5px 0;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        img {
            width: 100px;
            background-color: white;
        }
    }
}

.content {
    position: relative;
    margin-top: 64px;
    min-height: calc(100vh - 78px);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;

    &center {
        align-items: center;
    }
}

.sectoffres {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;
}

.offre {
    width: 100%;
    height: 300px;
    display: flex;

    &.pair {
        background-color: var(--light-blue);
    }

    &.impair {
        background-color: var(--main-blue);
    }
}

.photocouverture {
    border: solid white 5px;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    object-fit: cover;
    margin: 50px;
}

.hide {
    display: none;
}

.inscon {
    background-color: #DDD;
    width: fit-content;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;

    h2 {
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
    }

    .error {
        color: red;
    }

    .searchbar {
        margin-top: 5px;
        width: 100%;
    }

    .submitsearch {
        display: block;
        margin: auto;
        margin-top: 10px;

        &:disabled {
            background-color: #AAA;
            color: #CCC;
            cursor: default;
        }
    }

    .sinscrire {
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: fit-content;
        margin-top: 30px;
    }

    .mdpconseil,
    #repeatcorrect,
    #adresscorrect {
        user-select: none;
        font-size: 16px;
        color: var(--main-blue);
        font-weight: bold;
    }

    #complexite {
        font-size: 16px;
    }

    #repeatcorrect, #adresscorrect {
        color: red;
    }

    select {
        font-size: 16px;
    }
}

.profil {
    background-color: red;
    width: 100%;
    max-width: 800px;
    font-size: 24px;
    h2 {
        text-align: center;
        font-size: 60px;
        margin: 30px 0;
    }
}



@media screen and (max-width:1180px) {


    nav {
        height: 96px;
    }

    .content {
        margin-top: 96px;
    }

    .fenetreconnect {
        display: none;
    }

    .navbtn,
    .navonglet,
    .connecte {
        display: none;
    }

    .hbmenu,
    .menu,
    .overlaymenu {
        display: flex;
    }
}

@media screen and (max-width:520px) {

    nav {
        height: 64px;
    }

    .content {
        margin-top: 64px;
    }

    .hbmenu {
        height: 64px;
        width: 64px;
    }

    .menu {
        width: 280px;
        left: -280px;

        ul {
            padding-top: 64px;
            font-size: 28px;

            a {

                li {
                    padding: 24px 16px;
                    color: white;
                    display: flex;

                    svg {
                        margin-right: 16px;
                        height: 33px;
                    }
                }
            }
        }
    }

    #hamburger[type=checkbox]:checked {
        ~.hbmenu {
            transform: translateX(280px);
            border-radius: 0 16px 16px 0;

            .hbtop {
                transform: translate(0, 17.5px) rotate(-135deg) scale(1.1, 1);
            }

            .hbbot {
                transform: translate(0, -17.5px) rotate(135deg) scale(1.1, 1);
            }
        }

        ~.menu {
            transform: translateX(280px);
        }
    }


}

@media screen and (max-width:400px) {}