:root {
  --main-blue: #0050B0;
  --light-blue: #00A0E0;
  --lighter-blue: #00C0E0;
  --lightest-blue: #50D0FF;
  --dark-blue: #002080;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', sans-serif;
}
body {
  min-height: 100vh;
  position: relative;
}
nav {
  width: 100%;
  height: 64px;
  background-color: var(--dark-blue);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 500;
}
.navleft {
  display: flex;
  align-items: end;
}
.navbtn {
  height: 64px;
  display: flex;
  z-index: 2;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: var(--light-blue);
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  transition: all 400ms ease;
}
.navbtn:hover {
  background-color: var(--lighter-blue);
  cursor: pointer;
}
.navbtn p {
  margin-left: 10px;
}
.navonglet {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 1;
  padding: 10px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  font-size: 28px;
  color: white;
  background-color: var(--lighter-blue);
  left: -300px;
  transition: all 400ms ease;
  text-decoration: none;
}
.navonglet svg {
  margin-left: 10px;
}
.navonglet:hover {
  transform: translateX(300px);
}
.connecte {
  position: absolute;
  right: 0;
  font-size: 28px;
  color: white;
  display: flex;
  align-items: center;
}
.conbtn {
  position: absolute;
  right: 0;
}
.accbtn {
  margin-left: 12px;
}
input[type=checkbox]#hamburger {
  display: none;
}
#agence {
  display: none;
}
#estAgent[type=checkbox]:checked ~ #agence {
  display: inline;
}
.hbmenu {
  background-color: var(--light-blue);
  height: 96px;
  width: 96px;
  cursor: pointer;
  z-index: 501;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 400ms ease;
}
.hbmenu .hbsect {
  background-color: white;
  width: 80%;
  height: 10%;
  border-radius: 5px;
  transition: all 400ms ease;
}
.menu {
  position: absolute;
  background-color: var(--dark-blue);
  display: none;
  width: 400px;
  left: -400px;
  height: 100vh;
  z-index: 500;
  transition: all 400ms ease;
}
.menu ul {
  list-style: none;
  padding-top: 96px;
  font-size: 40px;
  width: 100%;
}
.menu ul a {
  text-decoration: none;
}
.menu ul a:nth-of-type(1) li,
.menu ul a:nth-of-type(3) li {
  background-color: var(--main-blue);
}
.menu ul a:nth-of-type(2) li,
.menu ul a:nth-of-type(4) li {
  background-color: var(--light-blue);
}
.menu ul a li {
  padding: 24px 16px;
  color: white;
  display: flex;
}
.menu ul a li svg {
  margin-right: 16px;
  height: 48px;
}
.overlaymenu {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 0%;
  z-index: 499;
  transition: all 400ms ease;
}
#hamburger[type=checkbox]:checked ~ .hbmenu {
  transform: translateX(400px);
  border-radius: 0 24px 24px 0;
}
#hamburger[type=checkbox]:checked ~ .hbmenu .hbtop {
  transform: translate(-2px, 26.5px) rotate(-135deg) scale(1.1, 1);
}
#hamburger[type=checkbox]:checked ~ .hbmenu .hbmid {
  opacity: 0;
}
#hamburger[type=checkbox]:checked ~ .hbmenu .hbbot {
  transform: translate(-2px, -26.5px) rotate(135deg) scale(1.1, 1);
}
#hamburger[type=checkbox]:checked ~ .menu {
  transform: translateX(400px);
}
#hamburger[type=checkbox]:checked ~ .overlaymenu {
  opacity: 50%;
}
footer {
  position: relative;
  bottom: 0;
  display: flex;
  padding: 20px;
  background-color: var(--dark-blue);
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
footer .footerelem {
  color: white;
  font-size: 24px;
}
footer .footerelem:nth-of-type(1) {
  font-size: 32px;
  font-weight: bold;
}
.content {
  position: relative;
  margin-top: 64px;
  min-height: calc(100vh - 78px);
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sectoffres {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  width: 100%;
}
.offre {
  width: 100%;
  height: 300px;
}
.offre.pair {
  background-color: var(--light-blue);
}
.offre.impair {
  background-color: var(--main-blue);
}
@media screen and (max-width: 1180px) {
  nav {
    height: 96px;
  }
  .fenetreconnect {
    display: none;
  }
  .navbtn,
  .navonglet,
  .connecte {
    display: none;
  }
  .hbmenu,
  .menu,
  .overlaymenu {
    display: flex;
  }
}
@media screen and (max-width: 520px) {
  nav {
    height: 64px;
  }
  .hbmenu {
    height: 64px;
    width: 64px;
  }
  .menu {
    width: 280px;
    left: -280px;
  }
  .menu ul {
    padding-top: 64px;
    font-size: 28px;
  }
  .menu ul a li {
    padding: 24px 16px;
    color: white;
    display: flex;
  }
  .menu ul a li svg {
    margin-right: 16px;
    height: 33px;
  }
  #hamburger[type=checkbox]:checked ~ .hbmenu {
    transform: translateX(280px);
    border-radius: 0 16px 16px 0;
  }
  #hamburger[type=checkbox]:checked ~ .hbmenu .hbtop {
    transform: translate(0, 17.5px) rotate(-135deg) scale(1.1, 1);
  }
  #hamburger[type=checkbox]:checked ~ .hbmenu .hbbot {
    transform: translate(0, -17.5px) rotate(135deg) scale(1.1, 1);
  }
  #hamburger[type=checkbox]:checked ~ .menu {
    transform: translateX(280px);
  }
  footer .footerelem {
    font-size: 20px;
  }
  footer .footerelem:nth-of-type(1) {
    font-size: 28px;
  }
}
@media screen and (max-width: 400px) {
  footer .footerelem {
    font-size: 18px;
  }
  footer .footerelem:nth-of-type(1) {
    font-size: 24px;
  }
}
