.testbdd {
  position: relative;
  margin-top: 64px;
  height: fit-content;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.testbdd h2 {
  font-size: 96px;
  margin: 0 auto 30px;
}
.testbdd table {
  margin: 10px auto;
  border: double 5px black;
}
.testbdd table th,
.testbdd table td {
  border: 1px solid black;
  /* Change the border color to your preference */
  padding: 10px;
  text-align: center;
}
.testbdd table th {
  background-color: #333;
  /* Change the background color of the header row */
  color: white;
}
